.logo {
    width: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 15px;
}
.nav-items{
    font-size: large;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li {
    padding: 20;
    margin: 10;
}

.restro-card {
    width: 180px;
    /* height: 290px; */
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
    /* display: flex; */
}

.restro-card:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1.5px 3px;
}
/* .search {
    margin: 10px;
} */

.card-logo{
    margin: 5px;
    width: 95%;
    height: 150px;
    border-radius: 15px;
}
.detail {
    margin:5px;
}
.restro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name {
    margin:1px;
}
.card-logo-container{
    /* margin:2px;
    object-fit: fill;
    height:80px; */
    /* justify-content: center; */
}

.filter{
    margin: 10px;
}
.filter-btn{
    /* margin: 300 px; */
    cursor: pointer;
    border-radius: 15px;
}
.shimmer-restro-card{
    width: 180px;
    background-color: grey;
    height: 250px;
    padding: 25px;
    margin: 50px;
    display: flex;
    border-radius: 15px;
}

.shimmer-container {
    /* width: 180px;
    height: 290px;
    padding: 5px;
    margin: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
}

.search-container { 
    display: flex;
    flex-wrap: wrap;
}
.search-input {
    border-radius: 10px;
    margin: 10px;
    margin-right: 5px;
}
.search-btn{
    border-radius: 10px;
    margin: 10px;
    margin-left: 2px;
}
.filter-serach-container{ 
    display: flex;
    flex-wrap: wrap;
}